@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section">
   <div class="container">
      <div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
              <span class="subheading">Bắt đầu ôn tập ngay từ hôm nay</span>
            <h2 class="mb-4">Với đa dạng nội dung luyện tập</h2>
        </div>
    </div>
    <div class="row justify-content-center">
     <div class="col-md-3 col-lg-2">
        <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(themelef/images/topiki.png);">
           <div class="text w-100 text-center">
              <h3>Topik I</h3>
              <span>100 đề</span>
          </div>
      </a>
  </div>
  <div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(themelef/images/topikiiread.png);">
       <div class="text w-100 text-center">
          <h3>Topik II đọc hiểu</h3>
          <span>100 đề</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(themelef/images/topikiilisten.png);">
       <div class="text w-100 text-center">
          <h3>Topik II nghe hiểu</h3>
          <span>100 đề</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(themelef/images/newskorea.png);">
       <div class="text w-100 text-center">
          <h3>Blog Hàn Quốc</h3>
          <span>100 bài</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(themelef/images/koreaNP.png);">
       <div class="text w-100 text-center">
          <h3>Ngữ pháp thông dụng</h3>
          <span>180 ngữ pháp</span>
      </div>
  </a>
</div>

<div class="col-md-12 text-center mt-5">
    <a href="#" class="btn btn-secondary">Xem toàn bộ các mức độ đề</a>
</div>
</div>
</div>
</section>

<section class="ftco-section bg-light">
   <div class="container">
      <div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
              <span class="subheading">Start Learning Today</span>
            <h2 class="mb-4">Pick Your Course</h2>
        </div>
    </div>
    <div class="row">
       <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
             <a href="#" class="img" style="background-image: url(themelef/images/work-1.jpg);">
                <span class="price">Software</span>
            </a>
            <div class="text p-4">
                <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                <p class="advisor">Advisor <span>Tony Garret</span></p>
                <ul class="d-flex justify-content-between">
                   <li><span class="flaticon-shower"></span>2300</li>
                   <li class="price">$199</li>
               </ul>
           </div>
       </div>
   </div>
   <div class="col-md-4 ftco-animate">
      <div class="project-wrap">
         <a href="#" class="img" style="background-image: url(themelef/images/work-2.jpg);">
            <span class="price">Software</span>
        </a>
        <div class="text p-4">
            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
            <p class="advisor">Advisor <span>Tony Garret</span></p>
            <ul class="d-flex justify-content-between">
               <li><span class="flaticon-shower"></span>2300</li>
               <li class="price">$199</li>
           </ul>
       </div>
   </div>
</div>
<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(themelef/images/work-3.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>

<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(themelef/images/work-4.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>
<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(themelef/images/work-5.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>
<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(themelef/images/work-6.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(themelef/images/bg_4.jpg);">
 <div class="overlay"></div>
 <div class="container">
    <div class="row">
       <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
         <div class="block-18 d-flex align-items-center">
            <div class="icon"><span class="flaticon-online"></span></div>
            <div class="text">
             <strong class="number" data-number="400">0</strong>
             <span>Online Courses</span>
         </div>
     </div>
 </div>
 <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
     <div class="block-18 d-flex align-items-center">
        <div class="icon"><span class="flaticon-graduated"></span></div>
        <div class="text">
         <strong class="number" data-number="4500">0</strong>
         <span>Students Enrolled</span>
     </div>
 </div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
 <div class="block-18 d-flex align-items-center">
    <div class="icon"><span class="flaticon-instructor"></span></div>
    <div class="text">
     <strong class="number" data-number="1200">0</strong>
     <span>Experts Instructors</span>
 </div>
</div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
 <div class="block-18 d-flex align-items-center">
    <div class="icon"><span class="flaticon-tools"></span></div>
    <div class="text">
     <strong class="number" data-number="300">0</strong>
     <span>Hours Content</span>
 </div>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-section ftco-about img">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 about-intro">
                <div class="row">
                    <!-- Hình ảnh minh họa -->
                    <div class="col-md-6 d-flex">
                        <div class="d-flex about-wrap">
                            <div class="img d-flex align-items-center justify-content-center" style="background-image:url('/themelef/images/korean1.jpg');">
                            </div>
                            <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url('/themelef/images/korean2.png');">
                            </div>
                        </div>
                    </div>

                    <!-- Nội dung giới thiệu -->
                    <div class="col-md-6 pl-md-5 py-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate">
                                <span class="subheading">Học Tiếng Hàn Cùng Chúng Tôi</span>
                                <h2 class="mb-4">Nền tảng hỗ trợ ôn thi TOPIK đa dạng mức độ</h2>
                                <p>Trang web được phát triển bới KR Topik giúp bạn luyện thi TOPIK hiệu quả với hệ thống đề ôn tập ở nhiều mức độ khó theo câu hỏi đa dạng, tính toán kết quả tự động.</p>
                                <p>Khám phá các bộ đề từ trình độ sơ cấp đến cao cấp, rèn luyện ngữ pháp, kỹ năng làm bài thi TOPIK và nâng cao hiểu biét về văn hóa, thông tin Hàn Quốc mới nhất.</p>
                                <p><a href="/lien-he" class="btn btn-primary">Liên hệ với chúng tôi</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section testimony-section bg-light">
    <div class="overlay" style="background-image: url(themelef/images/bg_2.jpg);"></div>
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading">Nhận xét từ người học</span>
                <h2 class="mb-4">Người dùng nói gì về chúng tôi?</h2>
            </div>
        </div>
    </div>

    <div class="container container-2">
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">

                    <!-- Feedback 1 -->
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="star">
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                                <p class="mb-4">Nhờ website này, mình đã luyện thi TOPIK bài bản với các đề ôn tập đa dạng mức độ và sát thực tế. Giao diện dễ dùng, có cả phần chấm điểm tự động. Rất hữu ích cho người tự học!</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(themelef/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Nguyễn Thế Đạt</p>
                                        <span class="position">Đạt TOPIK 6 (288/300 điểm)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Feedback 2 -->
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="star">
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                                <p class="mb-4">Hệ thống câu hỏi phân cấp rõ ràng, chi tiết. Đặc biệt là phần ngữ pháp rất sát thực tế. Mình học thấy tiến bộ rất nhanh. Rất phù hợp với người muốn tập trung luyện thi.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(themelef/images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Lê Minh Trang</p>
                                        <span class="position">Sinh viên ngành Ngôn ngữ Hàn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Feedback 3 -->
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="star">
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                                <p class="mb-4">Mình đặc biệt thích phần luyện đề TOPIK có chấm điểm tự động và giải thích chi tiết. Nhờ đó, mình biết mình yếu phần nào để luyện tập lại. Hơn nữa cũng phù hợp với người có mục tiêu vừa phải là Topik 3 như mình có thời gian tập trung ôn mức độ Topik 3.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(themelef/images/person_3.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Trần Văn Hưng</p>
                                        <span class="position">Nhân viên xuất khẩu lao động</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Feedback 4 -->
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="star">
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                                <p class="mb-4">Nội dung ôn tập được cập nhật mới theo kỳ thi TOPIK. Có cả phần luyện nghe và đọc với giọng chuẩn. Mình cảm thấy tự tin hơn rất nhiều trước khi thi.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(themelef/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Phạm Thị Hòa</p>
                                        <span class="position">TOPIK 5 sau 6 tháng học</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Feedback 5 -->
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="star">
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                                <p class="mb-4">Trang web hỗ trợ ôn tập rất tốt, đặc biệt là phần luyện đề có đồng hồ đếm ngược và chấm điểm nhanh. Rất phù hợp với người bận rộn và mong muốn tập trung luyện tập lấy chứng chỉ Topik để đi du học như mình.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(themelef/images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Lâm Quốc Bảo</p>
                                        <span class="position">Du học sinh Hàn Quốc</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- carousel-testimony -->
            </div>
        </div>
    </div>
</section>


<section class="ftco-intro ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image: url(themelef/images/bg_4.jpg);">
                    <div class="overlay"></div>
                    <h2>Học Tiếng Hàn – Vượt Qua Kỳ Thi TOPIK</h2>
                    <p>Nền tảng ôn luyện thi TOPIK với mức độ phân cấp chi tiết: ngữ pháp, đề ôn luyện theo kỹ năng, phân tích kết quả – phù hợp cho mọi trình độ.</p>
                    <p class="mb-0">
                        <a href="#" class="btn btn-primary px-4 py-3">Bắt đầu học ngay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 heading-section pr-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100 mb-4 mb-md-0">
                    <span class="subheading">Chào mừng bạn đến với KR Topik</span>
                    <h2 class="mb-4">Nền tảng luyện thi TOPIK trực tuyến với mức độ phân cấp chi tiết</h2>
                    <p>KR Topik cung cấp hệ thống ôn luyện tiếng Hàn chuẩn kỳ thi TOPIK: nội dung bám sát cấu trúc đề thi, cập nhật thường xuyên, phù hợp cho mọi trình độ.</p>
                    <p>Chúng tôi xây dựng một hệ thống luyện tập hiệu quả với tính năng chấm điểm tự động, thống kê kết quả và đề luyện đa cấp độ, giúp bạn chinh phục kỳ thi TOPIK dễ dàng hơn bao giờ hết.</p>
                    <div class="d-flex video-image align-items-center mt-md-4">
                        <a href="#" class="video img d-flex align-items-center justify-content-center" style="background-image: url(themelef/images/logokr.png);">
                            <span class="fa fa-play-circle"></span>
                        </a>
                        <h4 class="ml-4">Xem video giới thiệu về KR Topik</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tools"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Nội dung chất lượng cao</h3>
                                <p>Kho đề ôn tập được chọn lọc kỹ càng, sát với tứng dạng đề trong đề thi TOPIK thật.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services">
                            <div class="icon icon-2 d-flex align-items-center justify-content-center"><span class="flaticon-instructor"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Quản trị viên với chuyên môn cao</h3>
                                <p>Đội ngũ quản trị viên với chuyên môn sao là những người có kinh nghiệm giảng dạy tiếng Hàn và luyện thi TOPIK nhiều năm. Từ đó chọn lọc được những câu hỏi phù hợp.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services">
                            <div class="icon icon-3 d-flex align-items-center justify-content-center"><span class="flaticon-quiz"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Đề ôn tập &amp; ngữ pháp</h3>
                                <p>Hệ thống đề luyện theo từng cấp độ giúp bạn tập trung vào mức độ mong muốn. Ngữ pháp đầy đủ, dễ học, dễ ghi nhớ. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="services">
                            <div class="icon icon-4 d-flex align-items-center justify-content-center"><span class="flaticon-browser"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Theo dõi tiến trình làm đề &amp; kết quả</h3>
                                <p>Theo dõi tiến trình học, điểm số trên từng đề ôn tập để biết rõ năng lực của mình.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section bg-light">
  <div class="container">
     <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center ftco-animate">
         <span class="subheading">Blog tiếng Hàn</span>
         <h2 class="mb-4">Bài viết nổi bật</h2>
     </div>
 </div>
 <div class="row d-flex">
  <div class="col-lg-4 ftco-animate">
    <div class="blog-entry">
      <a href="blog-single.html" class="block-20" style="background-image: url('themelef/images/image_1.jpg');">
      </a>
      <div class="text d-block">
         <div class="meta">
          <p>
             <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
             <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
             <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
         </p>
     </div>
     <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
     <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>

<div class="col-lg-4 ftco-animate">
    <div class="blog-entry">
      <a href="blog-single.html" class="block-20" style="background-image: url('themelef/images/image_2.jpg');">
      </a>
      <div class="text d-block">
         <div class="meta">
          <p>
             <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
             <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
             <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
         </p>
     </div>
     <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
     <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>
<div class="col-lg-4 ftco-animate">
    <div class="blog-entry">
      <a href="blog-single.html" class="block-20" style="background-image: url('themelef/images/image_3.jpg');">
      </a>
      <div class="text d-block">
         <div class="meta">
          <p>
             <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
             <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
             <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
         </p>
     </div>
     <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
     <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
 </div>
</div>
</div>
</div>
</div>
</section>


<script>
    document.getElementById("register-form").addEventListener("submit", async function (e) {
        e.preventDefault(); // Ngừng form submit mặc định

        let formData = new FormData(document.getElementById("register-form"));

        let response = await fetch("/api/user/registerapp", {
            method: "POST",
            body: formData
        });

        let data = await response.json();

        if (data.success) {
            Swal.fire({
                title: 'Thành công!',
                text: data.message,
                icon: 'success',
                confirmButtonText: 'OK'
            }).then(() => {
                window.location.href = "home/index";
            });
        } else {
            Swal.fire({
                title: 'Lỗi!',
                text: data.message,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    });
</script>
